body {
    color: rgb(223, 223, 223) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-primary{
    color: oklch(76.9% 0.188 70.08) !important;
}
.bg-primary{
    background-color: oklch(76.9% 0.188 70.08) !important;
}
.btn-primary{
    background-color: oklch(76.9% 0.188 70.08) !important;
    border-color: oklch(76.9% 0.17337 71) !important;
}
.btn-primary:hover{
    background-color: oklch(69.049% 0.15447 65.326) !important;
    border-color: oklch(76.69.049% 0.15447 64) !important;
}
.bg-dark{
    background-color: #121314 !important;
}
.bg-card{
    background-color: #101214 !important;
}
.nav-link:hover{
    font-weight: bold;
    color: oklch(100% 0.00011 271.152) !important;
}

.nav-item, .nav-link{
    color: rgb(207, 207, 207) !important;
}

.active{
    color: oklch(76.9% 0.188 70.08) !important;
}
.menu-category{
background-color: rgba(27, 14, 7, 0.349) !important;
}
.menu-category:active{
    background-color: oklch(76.9% 0.188 70.08) !important;
}

.card-title{
    color: rgb(223, 223, 223) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.card-text{
    color: rgb(207, 207, 207) !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#chat {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: oklch(76.9% 0.188 70.08) !important;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    border-radius: 25px;
}

#chat:hover {
    background-color: #555;
}